@import "variables.css";


.MuiTab-root {
    text-transform: uppercase !important;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.header.sticky.MuiBox-root {
    background-color: var(--bg-card);
    padding: 1rem;
    color: var(--font-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 20;
    position: sticky;
    top: 0;
}

.navbar-content.MuiBox-root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.MuiButtonBase-root.MuiTab-root {
    background-color: transparent;
    color: var(--font-white) !important;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: none;
    width: auto;
    transition: all 0.3s ease;
    opacity: 1;
}

.MuiButtonBase-root.MuiTab-root:hover {
    background-color: var(--primary);
    color: var(--font-white) !important;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    background-color: var(--primary);
    color: var(--font-white) !important;
}

.MuiTabs-indicator {
    display: none;
}

#logo.MuiTypography-root {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.25rem;
}

.MuiTouchRipple-root {
    color: var(--font-white);
}